body {
  background: url(../images/calcul.jpg) center/cover;
  min-height: 80vh;
}

main {
  min-height: 375px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid pink;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(255, 192, 203, 0.2);
  box-shadow: 4px -2px 4px 1px black;
}

.flexbox {
  border: 1px solid pink;
  padding: 15px;
  margin: 1px;
  border-radius: 37px;
}
.flexbox ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.flexbox li {
  list-style: none;
  height: 40px;
  width: 200px;
  margin: 6px;
  padding: 10px;
  background: rgba(245, 245, 245, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 5;
  font-family: Trebuchet MS, sans-serif;
}

h6 {
  text-align: center;
}
