body {
  background: url(../images/calcul.jpg) center/cover;
  min-height: 80vh;
}

main {
  min-height: 375px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid pink;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(255, 192, 203, 0.2);
  box-shadow: 4px -2px 4px 1px black;
}

.flexbox,
.grid {
  border: 1px solid pink;
  padding: 15px;
  margin: 10px;
  border-radius: 37px;
}
.flexbox ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.flexbox li {
  list-style: none;
  height: 40px;
  width: 200px;
  margin: 6px;
  padding: 10px;
  background: rgba(245, 245, 245, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 38% 62%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 5;
  font-family: Trebuchet MS, sans-serif;
}

h6 {
  text-align: center;
}
/* 
.grid img {
  width: 80%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  "i1 i1"
  "ta ta"
  "vi bt"
}

input, textarea {
  margin: 5px;
  bottom: 1px solid;
  padding: 10px;font-size: 1.1rem;
  font-family: "DMSerif";
}

textarea {
  grid-area: ta;
  resize: none;
}

#btn-submit {
  grid-area: bt;
  cursor: pointer;
  background: cyan;
  transition: 0.2s
} 

#btn-submit: over {
  background: darkblue;
  color: white
} 
*/
