{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>budget_application</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <!-- ctrl + shift + "/" -->
    <h1>Budget application</h1>

    <main>
      <div class="flexbox">
        <h2>flexbox</h2>
        <ul>
          <li><a href="/">Back</a></li>
          <li>
            <a href="https://openai.com/index/chatgpt/" target="_blank"
              >ChatGPT</a
            >
          </li>
          <!-- <li><a href="http://127.0.0.1:8000/" target="_blank">Google</li> -->
        </ul>
      </div>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
